
/* Defaults */

body {
  background-color: #FFFFFF;
}
a {
  color: {AccentColor};
}



/* Masthead */
.page-header {
  height: 100%;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("{HeaderImage}");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 100px;
  text-align: center;
}

@media all and (min-width: 600px) {
  .page-header {
    height: 450px;
  }
}

.page-header__title {
  font-size: 6.1rem;
  color: {color:Title};
}
.page-header__link {
  color: {TitleColor};
  font-family: {TitleFont};
  font-weight: {TitleFontWeight};
}

.page-header__avatar {
  border: 1px solid #333;
  border-radius: 3px;
}


/* Nav */

.toggle-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.toggle {
  display: block;
  padding: 12px;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  background: #FFF;
  margin-bottom: 4px;
  transition: transform 0.15s linear 0s;
  transform-origin: 50% 50% 0px;
  transition: background 150ms ease 0s;
}
.bar:nth-child(2) {
    transition: opacity 0.1s linear 0s;
}
.toggled .bar:nth-child(1) {
    transform: rotate(45deg) translate3d(5px, 5px, 0px);
}
.toggled .bar:nth-child(2) {
    opacity: 0;
}
.toggled .bar:nth-child(3) {
    transform: rotate(-45deg) translate3d(5px, -5px, 0px);
}
.toggled {
  background: none;
}
.toggled-toggle-container {
  background: none;
}

.bar:nth-child(3) {
  margin-bottom: 0;
}
.toggle:hover .bar {
  background: {color:Hover};
}
.toggled:hover .bar {
  background: {color:Hover};
}


.nav-container {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}


.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.description {
  max-width: 500px;
  margin-top: 20px;
  border-top: 1px solid #888;
  padding-top: 20px;
  color: rgb(221, 221, 221);
  font-size: 21px;

}






/* Posts */


.result {
  max-width: 500px;
}

.page-content {
  margin: 100px 20px 0 20px;
  font-size: 1.6rem;
}

.posts {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.post {
  margin: 0 auto 26px auto;
}

  .post p {
    margin-top: 10px;
    margin-bottom: 21px;
    color: #333;
  }

  .post img {
    width: 100%;
    max-width: 1080px;
  }
.photo {
  text-align: center;
}

.photoset {
  text-align: center;
}

.text {
  max-width: 500px;
}
.quote {
  max-width: 500px;
  font-size: 32px;
}
  .quote blockquote {
    margin-bottom: 10px;
  }
  .quote .source {
    font-size: 16px;
  }


.video iframe {
  display: block;
  width: 100%;
  max-width: 1080px;
  height: 607px;
  margin: 0 auto;
}





.index-post-meta {
  font-size: 1.2rem;
}


.index-post-meta__row {
  margin-bottom: 10px;
  text-align: center;
}

.index-post-meta a {
  color: #888;
}
.index-post-meta a:hover {
  color: {color:Hover};
}
.index-post-meta__date {
  display: inline-block;
}
.meta-divider {
  display: inline-block;
  margin: 0 4px;
  color: #888;
}
.index-post-meta__notecount {
  display: inline-block;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.index-post-meta__date p {
  margin: 0;
}



.main-nav {
  max-width: 80%;
  margin: 0 auto;
}
.search-bar {
  position: relative;
  margin-top: 41px;
  margin-bottom: 26px;
}
.search-bar input[type="text"] {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #888;
  padding-bottom: 8px;
  padding-left: 60px;
  background: none;
  color: #FFF;
  font-size: 26px;
  line-height: 1.6;
}
.search-bar input[type="submit"] {
  position: absolute;
  top: 8px;
  left: 0;
  border: 0;
  background: none;
  color: rgb(255, 255, 255);
  padding: 25px;
  line-height: 0;
}
.search-bar svg {
  position: absolute;
  top: 5px;
  left: 0;
  pointer-events: none;
}


.sm-nav {
  margin-top: 20px;
}
.sm-nav li {
  display: inline-block;
  margin-right: 10px;
}

.sm-nav svg {
  width: 30px;
  height: 30px;

}
.sm-nav svg path {
  fill: #FFF !important;
}
.sm-nav a:hover svg path {
  fill: {color:Hover} !important;
}

.tags {
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}
  .tags a {
    display: inline-block;
  }


.main-nav__menu {
  font-size: 26px;
}
  .main-nav__menu a {
    display: block;
    color: #FFF;
  }
  .main-nav__menu a:hover {
    color: {color:Hover};
  }


.caption {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.caption blockquote {
  border-left: 3px solid #CCC;
  padding-left: 10px;
  text-align: center;
}


.sharing-and-saving {
  margin-bottom: 40px;
  text-align: center;
}
.sharing-and-saving li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.sharing-and-saving li:last-of-type {
  margin-right: 0;
}
.sharing-and-saving .like-reblog > svg {
position: absolute;
left: 0;
pointer-events: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="your_transparent.png", sizingMethod="scale");
background: none !important;
}
.reblog_button svg {
  fill: {color:Background};
}


.share-menu {
  display: none;
  position: absolute;
  left: -40px;
  top: -152px;
  width: 110px;
  border: 1px solid #000;
  border-bottom: 3px solid #000;
  background-color: #FFF;
}


.share-menu:after, .share-menu:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.share-menu:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 8px;
  margin-left: -8px;
}
.share-menu:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 14px;
  margin-left: -14px;
}
  .share-menu a {
    display: block;
    text-align: left;
    padding: 4px 12px;
  }
  .share-menu a svg {
    position:;
    width: 20px;
    height: 20px;
  }
  .share-menu a span {
    padding-left: 5px;
    line-height: 22px;
    vertical-align: top;
  }


.page-pagination {
  text-align: center;
  font-size: 40px;
}
  .page-pagination li {
    display: inline-block;
  }
  .page-pagination a {
    line-height: 1;
    padding: 3px 4px 80px;
    color: {AccentColor};
  }
  .page-pagination a:hover {
    background: {color:Hover};
    color: #FFF;
  }

.post-pagination {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

  .post-pagination a {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid {AccentColor};
    border-radius: 3px;
    padding: 4px 12px;
  }
  .post-pagination a:hover {
    background-color: {color:Hover};
    border: 1px solid {color:Hover};
    color: #FFF;
  }

.page-pagination .page-pagination__prev {
  margin-right: 40px;
  padding: 3px 12px 80px 8px;
}
.page-pagination .page-pagination__next {
  margin-left: 40px;
  padding: 3px 8px 80px 12px;
}

.yes-notes {
  display: none;
}
.notecount .yes-notes {
  display: block;
}
.notecount .no-notes {
  display: none;
}


.note-container {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 12px;
}
.notes .note {
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
}
.notes .more_notes_link_container {
  border-bottom: none;
}
.notes .avatar {
  vertical-align: -4px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
